body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .header {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .header h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

.sidebar .header p {
    font-size: 0.9em;
    margin: 0;
    color: #fff;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%; /* Make the navigation take the full width of the sidebar */
}

.sidebar nav li {
    margin-bottom: 10px;
}

.sidebar nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    width: 100%; /* Ensure the anchor takes the full width of the sidebar */
}

.sidebar nav a:hover {
    background-color: #333;
}

.sidebar nav a.active {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    width: 100%; /* Ensure the active anchor takes the full width of the sidebar */
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
}

.content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content .header span {
    font-size: 1.5em;
    font-weight: bold;
}

.content .buttons {
    display: flex;
    align-items: center;
}

.content .buttons button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

.content .buttons button:hover {
    background-color: #555;
}

.resources, .messages {
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
}

.resources h2, .messages h2 {
    margin-top: 0;
}
